@import "../../node_modules/uikit/src/scss/variables.scss";
@import "../../node_modules/uikit/src/scss/mixins.scss";


$global-font-family: "News Cycle", "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif !default;


$global-background:                              #fff !default;

$global-muted-background:                        #f8f8f8 !default;
$global-primary-background:                      #607d8b !default;
$global-secondary-background:                    #778899 !default;

$global-success-background:                      #005400 !default;
$global-warning-background:                      #ffffe0 !default;
$global-danger-background:                       #890000 !default;

html {
font-family: "News Cycle", sans-serif;
	font-weight: 300;
	font-style: normal;
  }
    
  html, body {
	font-family: "News Cycle", sans-serif;
	font-weight: 300;
	font-style: normal;
  }
  
  h1, h2, h3, h4, h5, h6 {
	font-family: "News Cycle", sans-serif;
	font-weight: 300;
	font-style: normal;
  }
  
  i, .material-icons, .fa, fab, .far, .fas {
	vertical-align: middle;
  }
  
  @import "../../node_modules/uikit/src/scss/uikit.scss";