// @import "../../node_modules/uikit/dist/css/uikit.css";
// @import "../../node_modules/uikit/dist/css/uikit-core.css";
// @import "uikit/dist/css/uikit-core.css";
// @import "uikit/dist/css/uikit.css";

// @import "uikit/src/less/uikit.theme.less";

@global-font-family: "News Cycle", "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;

@global-background:                             #fff;

@global-muted-background:                       #f8f8f8;
@global-primary-background:                     #607d8b;
@global-secondary-background:                   #2F4F4F;

@global-success-background:                     #006400;
@global-warning-background:                     #FFD700;
@global-danger-background:                      #890000;


body, html {
	font-family: 'News Cycle', 	sans-serif !important;
	height: 100%;
	font-weight: 300 !important;
  }

  h1, h2, h3, h4, h5, h6 {
	font-family: 'News Cycle' ,sans-serif;
	font-weight: 300 !important;
  }

  .dignity {
	font-family: "News Cycle", sans-serif;
	font-weight: 300 !important;
  }

  i, .material-icons, .fa, .fab, .far, .fas {
	vertical-align: middle;
  }

  @import "uikit/src/less/uikit.theme.less";